<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Creation du user</title>
</head>
<body>
<form method="POST">
		<label>Prénom</label>
		<input type="text" name="fistName">
			</br>
		
		<label>Nom</label>
		<textarea name="lastName"> </textarea>
			</br>
			
			<label>Mot de Passe</label>
		<textarea name="password"> </textarea>
			</br>
			
			<label>Email</label>
		<textarea name="email"> </textarea>
			</br>
		
		<button type="submit">Créer le compte</button>
	</form>
</body>
</html>