<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Creation du user</title>
</head>
<body>
<form method="POST">
		
		<label>Prénom</label>
		<input type="text" name="firstName">
			</br>
			
			<label>Nom</label>
			<input type="text" name="lastName">
			</br>
			
			<label>Email</label>
			<input type="text" name="email">
			</br>
			
			<label>Mot de passe</label>
			<input type="text" name="password">
			</br>
		
		<button type="submit">Créer le compte</button>
	</form>
</body>
</html>