<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Conseils pour un légume</title>
</head>
<body>

	<form method="POST">
		</br>
		</br>
		<label>ID legume :</label>
		<input type="text" name="idLegume">
			</br>
			</br>
		<button type="submit">Chercher les conseils</button>
	</form>
	</br> </br>
	
	<label>Liste des conseils : </label>
	</br> </br>
	<div th:each="conseil : ${legumeResult}">
		<div th:text="${conseil.titre}">
		</div>
		</br>
		<div th:text="${conseil.description}">
		</div>
		</br>
		</br>
	</div>
</body>
</html>